.container {
  box-sizing: border-box;
  margin: auto;
  background-color: inherit;
}

@media only screen and (min-width: 700px) {
  .container {
    width: 49%;
    border: 1px solid black;
  }

  #introduction {
    width: 75%;
    box-sizing: border-box;
    border-radius: 20px;
    margin: auto;
  }
}

@media only screen and (max-width: 700px) {
  #introduction {
    /* box-shadow: 0px 5px 2px rgb(30, 26, 48); */
  }
}

#introduction {
  box-sizing: border-box;
  padding: 4%;
  background-image: url('../images/space-theme.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(235, 241, 248);
}

#info {
  height: 100vh;
  overflow-y: auto;
}

#info::-webkit-scrollbar {
  display: none;
}
