@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.innerModal {
  background: rgb(28, 27, 41);
  box-sizing: border-box;
  padding: 4% 5%;
}

.innerModal div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.innerModal div p {
  margin: 0;
}

.innerModal div button {
  background: inherit;
  color: inherit;
  border: none;
  font-size: x-large;
  left: 80%;
}

button:hover {
  cursor: pointer;
}

.btn {
  font-size: 14px;
  background: inherit;
  border: none;
  color: inherit;
  vertical-align: center;
}
