@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.intro-photo {
  border: 2px solid rgb(235, 241, 248);
  border-radius: 50%;
}

@media only screen and (max-width: 419px) {
  .intro-photo {
    width: 40%;
    align-self: center;
  }
}

@media only screen and (min-width: 419px) and (max-width: 800px) {
  .intro-photo {
    width: 20%;
    align-self: flex-end;
  }
}
