@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {
  background-color: rgb(2, 6, 24);
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  font-size: calc(10px + 0.5vw);
  font-family: 'Montserrat', sans-serif;
  color: rgb(233, 228, 228);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  height: inherit;
  box-sizing: border-box;
  margin: auto;
}

h1 {
  font-size: calc(40px + 2vw);
  margin: 0px;
}

h2 {
  font-size: calc(30px + 1vw);
  margin: 0px;
}

h3 {
  font-size: calc(20px + 0.5vw);
  margin: 0px;
}

.info-box {
  border-radius: 20px;
  background: rgb(28, 27, 41);
  box-shadow: 5px 5px 2px rgb(5, 1, 20);
  padding: 3% 5%;
  margin: 10px 20px;
}
